{{define "home"}}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Putarr</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
    <script src="https://unpkg.com/htmx.org@2.0.4"
        integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+"
        crossorigin="anonymous"></script>

</head>

<body class="container">
    <header>
        <nav>
            <ul>
                <li>
                    <hgroup>
                        <h1>Putarr</h1>
                        <p>View your transfers</p>
                    </hgroup>
                </li>
            </ul>
            <ul>
                <li>
                    <span id="spinner" aria-busy="true" class="htmx-indicator"></span>
                    <button hx-target="#transfers" hx-get="/transfers" hx-indicator="#spinner">
                        Refresh
                    </button>
                </li>
            </ul>
        </nav>
    </header>

    <main>
        <div id="transfers" hx-trigger="load" hx-get="/transfers" hx-indicator="#spinner"></div>
    </main>
</body>

</html>
{{end}}
